body{

font-family:Poppins;
margin:0;
background:#f4f6f7;

}



header{

display:flex;
justify-content:space-between;
align-items:center;
padding:16px 60px;
background:#1e3a4c;

}



nav ul{

display:flex;
list-style:none;

}



nav ul li{

margin-left:30px;

}



nav ul li a{

color:white;
text-decoration:none;
font-weight:500;

}



.hero{

height:80vh;
background:linear-gradient(#2a7fb8,#2e8b57);
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;

}



.hero h1{

font-size:40px;
max-width:800px;

}



.hero p{

max-width:600px;
margin-top:20px;

}



.btn{

margin-top:30px;
background:#4CAF50;
padding:15px 35px;
border-radius:5px;
color:white;
cursor:pointer;

}



.about{

padding:80px;
text-align:center;

}



.services{

background:white;
padding:80px;
text-align:center;

}



.service-container{

display:flex;
justify-content:center;
gap:40px;
margin-top:40px;

}



.card{

background:#f4f6f7;
padding:30px;
width:250px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:0.3s;

}



.card:hover{

transform:translateY(-10px);

}



.projects{

padding:80px;
text-align:center;

}



.contact{

background:#1e3a4c;
color:white;
padding:10px;
text-align:center;

}



footer{

background:#0d1f2a;
color:white;
text-align:center;
padding:10px;

}
.logo img {
    width: 50px;
    height: auto;
    border-radius: 8px;
}